body{
    background-size:cover;
    background-position: center;
}

.heading{
    font-size: 35px;
    width: 100%;
    margin: 0px;
}

.Buttons{
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 25px;
    width:300px
}